@media (min-width: 360px) and (max-width: 374px) and (max-height: 820px){
  main {
    .slider {
      .carousel-inner {
        .carousel-item {
          .slider-content {
            position: absolute;
            width: 50%;
            left: 50%;
            top: 10%;
            z-index: 1;
            color: #ffffff;
            margin-left: -25%;
            text-align: center;
            font-size: 30px;
            h2 {
              font-size: 18px;
            }
            p {
              font-size: 15px;
            }
            .member-btn {
              width: 100px;
              height: 40px;
              font-size: 8px;
            }
          }
        }
      }
    }
    /////////////////////////////////////////
    .our-work {
      margin-bottom: 100px;
      img {
        width: 50px;
        height: 50px;
        margin-top: 80px;
        margin-bottom: 50px;
      }
      h3 {
        font-size: 20px;
        text-transform: uppercase;
        color: #515151;
      }
      p {
        font-size: 14px;
        color: #919191;
      }
    }
    /////////////////////////////////////////
    .tabs {
      .tab1 {
        padding-bottom: 20px;
        width: 31%;
        button {
          display: inline;
          width: 25px;
          height: 25px;
          margin-left: -10px;
          text-align: center;
          font-size: 8px;
        }
        span {
          font-size: 11px;
        }
      }
      .tab2 {
        padding-bottom: 20px;
        width: 35%;
        button {
          display: inline;
          width: 25px;
          height: 25px;
          margin-left: -10px;
          text-align: center;
          font-size: 8px;
        }
        span {
          font-size: 11px;
        }
      }
      .tab3 {
        padding-bottom: 20px;
        width: 34%;
        button {
          display: inline;
          width: 25px;
          height: 25px;
          margin-left: -10px;
          text-align: center;
          font-size: 8px;
        }
        span {
          font-size: 11px;
        }
      }
      ////////////////////////////
      .content {
        img {
          margin-left: 100px;
          margin-top: 20px;
        }
        h4 {
          margin: 30px 0 30px 10px;
        }
        p {
          font-size: 14px;
          margin: 0 0 100px 10px;
          color: #919191;
        }
      }
    }
    /////////////////////////////////////////
    .find {
      .Find-Properties {
        .img1 {
          margin: 20px 0 0 -10px;
        }
        h4 {
          margin-top: 18px;
          font-size: 20px;
        }
        p {
          font-size: 14px;
        }
        .btn4 {
          padding: 10px 15px 10px 15px;
          font-size: 13px;
        }
      }
      .Find-Buyers {
        .img2 {
          margin: 40px 0 0 -10px;
        }
        h4 {
          margin-top: 18px;
          font-size: 20px;
        }
        p {
          font-size: 14px;
        }
        .btn5 {
          padding: 10px 15px 10px 15px;
          font-size: 13px;
        }
      }
    }
    /////////////////////////////////////////
    .Feature {
      h2 {
        font-size: 23px;
      }
      p {
        font-size: 13px;
        margin-bottom: 40px;
      }
      .btn6 {
        padding: 10px 10px 10px 10px;
        font-size: 13px;
        margin-left: 20px;
        float: left;
      }
      ////////////////////////////
      .projects {
        margin-bottom: 0px;
        .project-1 {
          left: 10%;
          .box{
            height: 25%;
            width: 80%;
            button{
              width: 100px;
              font-size: 10px;
              top: 20%;
              left: 70%;
            }
          }
          .content {
            margin-top: -6px;
            width: 80%;
            h5{
              font-size: 14px;
            }
            p{
              font-size: 10px;
            }
            .progress{
              margin-top: -15px;
            }
            .p1, .p2{
              font-size: 10px;
            }
            a{
              .p3{
                font-size: 13px;
                margin-left: 100px;
              }
            }
          }
        }
        .project-2{
          left: 10%;
          margin-top: -120px;
          .box{
            height: 25%;
            width: 80%;
            button{
              width: 100px;
              font-size: 10px;
              top: 20%;
              left: 70%;
            }
          }
          .content {
            margin-top: -6px;
            width: 80%;
            h5{
              font-size: 14px;
            }
            p{
              font-size: 10px;
            }
            .progress{
              margin-top: -15px;
            }
            .p1, .p2{
              font-size: 10px;
            }
            a{
              .p3{
                font-size: 13px;
                margin-left: 100px;
              }
            }
          }
        }
        .project-3{
          left: 10%;
          margin-top: -120px;
          .box{
            height: 25%;
            width: 80%;
            button{
              width: 100px;
              font-size: 10px;
              top: 20%;
              left: 70%;
            }
          }
          .content {
            margin-top: -6px;
            width: 80%;
            h5{
              font-size: 14px;
            }
            p{
              font-size: 10px;
            }
            .progress{
              margin-top: -15px;
            }
            .p1, .p2{
              font-size: 10px;
            }
            a{
              .p3{
                font-size: 13px;
                margin-left: 100px;
              }
            }
          }
        }
      }
    }
    /////////////////////////////////////////
    .our-clients{
      .content{
        top: 545%;
      }
      h2{
        font-size: 14px;
        margin-right: 60px;
      }
      p{
        font-size: 10px;
        margin-right: 60px;
        margin-top: -30px;
      }
      .client-1{
        display: none;
      }
      .client-1-details{
        position: absolute;
        margin-top: 5%;
        left: 50%;
        img{
          width: 30px;
          height: 30px;
        }
        p{
          font-size: 8px;
        }
      }
      ////////////////////
      .client-2{
        display: none;
      }
      .client-2-details{
        position: absolute;
        margin-top: 5%;
        left: 10%;
        img{
          width: 30px;
          height: 30px;
        }
        p{
          font-size: 8px;
        }
      }
    }
    /////////////////////////////////////////
    footer{
      margin-top: 20px;
      .partner1{
        margin-left: 20px;
        img{
          width: 60px;
          height: 30px;
        }
      }
      .partner2{
        margin-left: 100px;
        margin-top: -30px;
        img{
          width: 60px;
          height: 30px;
        }
      }
      .partner3{
        margin-left: 180px;
        margin-top: -30px;
        img{
          width: 60px;
          height: 30px;
        }
      }
      .partner4{
        margin-left: 260px;
        margin-top: -30px;
        img{
          width: 60px;
          height: 30px;
        }
      }
      .partner5{
        margin-left: 70px;
        margin-top: 20px;
        img{
          width: 30px;
          height: 30px;
        }
      }
      .partner6{
        margin-left: 140px;
        margin-top: -30px;
        img{
          width: 60px;
          height: 30px;
        }
      }
      .partner7{
        margin-left: 220px;
        margin-top: -30px;
        img{
          width: 60px;
          height: 30px;
        }
      }
      ///////////////////////////
      .copy-right{
        hr{
          background-color: #ededed;
          margin-bottom: 20px;
        }
        p{
          color: #848484;
          font-size: 13px;
        }
      }
    }
  }
}
/////////////////////////////////////////////////////
@media (min-width: 375px) and (max-width: 400px) and (max-height: 820px){
  main {
    .slider {
      .carousel-inner {
        .carousel-item {
          .slider-content {
            position: absolute;
            width: 50%;
            left: 50%;
            top: 10%;
            z-index: 1;
            color: #ffffff;
            margin-left: -25%;
            text-align: center;
            font-size: 30px;
            h2 {
              font-size: 18px;
            }
            p {
              font-size: 15px;
            }
            .member-btn {
              width: 100px;
              height: 40px;
              font-size: 8px;
            }
          }
        }
      }
    }
    /////////////////////////////////////////
    .our-work {
      margin-bottom: 100px;
      img {
        width: 50px;
        height: 50px;
        margin-top: 80px;
        margin-bottom: 50px;
      }
      h3 {
        font-size: 20px;
        text-transform: uppercase;
        color: #515151;
      }
      p {
        font-size: 14px;
        color: #919191;
      }
    }
    /////////////////////////////////////////
    .tabs {
      .tab1 {
        padding-bottom: 20px;
        width: 31%;
        button {
          display: inline;
          width: 25px;
          height: 25px;
          margin-left: -10px;
          text-align: center;
          font-size: 8px;
        }
        span {
          font-size: 11px;
        }
      }
      .tab2 {
        padding-bottom: 20px;
        width: 35%;
        button {
          display: inline;
          width: 25px;
          height: 25px;
          margin-left: -10px;
          text-align: center;
          font-size: 8px;
        }
        span {
          font-size: 11px;
        }
      }
      .tab3 {
        padding-bottom: 20px;
        width: 34%;
        button {
          display: inline;
          width: 25px;
          height: 25px;
          margin-left: -10px;
          text-align: center;
          font-size: 8px;
        }
        span {
          font-size: 11px;
        }
      }
      ////////////////////////////
      .content {
        img {
          margin-left: 100px;
          margin-top: 20px;
        }
        h4 {
          margin: 30px 0 30px 10px;
        }
        p {
          font-size: 14px;
          margin: 0 0 100px 10px;
          color: #919191;
        }
      }
    }
    /////////////////////////////////////////
    .find {
      .Find-Properties {
        .img1 {
          margin: 20px 0 0 -10px;
        }
        h4 {
          margin-top: 18px;
          font-size: 20px;
        }
        p {
          font-size: 14px;
        }
        .btn4 {
          padding: 10px 15px 10px 15px;
          font-size: 13px;
        }
      }
      .Find-Buyers {
        .img2 {
          margin: 40px 0 0 -10px;
        }
        h4 {
          margin-top: 18px;
          font-size: 20px;
        }
        p {
          font-size: 14px;
        }
        .btn5 {
          padding: 10px 15px 10px 15px;
          font-size: 13px;
        }
      }
    }
    /////////////////////////////////////////
    .Feature {
      h2 {
        font-size: 23px;
      }
      p {
        font-size: 13px;
        margin-bottom: 40px;
      }
      .btn6 {
        padding: 10px 10px 10px 10px;
        font-size: 13px;
        margin-left: 20px;
        float: left;
      }
      ////////////////////////////
      .projects {
        margin-bottom: 0px;
        .project-1 {
          left: 10%;
          .box{
            height: 25%;
            width: 80%;
            button{
              width: 100px;
              font-size: 10px;
              top: 20%;
              left: 70%;
            }
          }
          .content {
            margin-top: -6px;
            width: 80%;
            h5{
              font-size: 14px;
            }
            p{
              font-size: 10px;
            }
            .progress{
              margin-top: -15px;
            }
            .p1, .p2{
              font-size: 10px;
            }
            a{
              .p3{
                font-size: 13px;
                margin-left: 100px;
              }
            }
          }
        }
        .project-2{
          left: 10%;
          margin-top: -120px;
          .box{
            height: 25%;
            width: 80%;
            button{
              width: 100px;
              font-size: 10px;
              top: 20%;
              left: 70%;
            }
          }
          .content {
            margin-top: -6px;
            width: 80%;
            h5{
              font-size: 14px;
            }
            p{
              font-size: 10px;
            }
            .progress{
              margin-top: -15px;
            }
            .p1, .p2{
              font-size: 10px;
            }
            a{
              .p3{
                font-size: 13px;
                margin-left: 100px;
              }
            }
          }
        }
        .project-3{
          left: 10%;
          margin-top: -120px;
          .box{
            height: 25%;
            width: 80%;
            button{
              width: 100px;
              font-size: 10px;
              top: 20%;
              left: 70%;
            }
          }
          .content {
            margin-top: -6px;
            width: 80%;
            h5{
              font-size: 14px;
            }
            p{
              font-size: 10px;
            }
            .progress{
              margin-top: -15px;
            }
            .p1, .p2{
              font-size: 10px;
            }
            a{
              .p3{
                font-size: 13px;
                margin-left: 100px;
              }
            }
          }
        }
      }
    }
    /////////////////////////////////////////
    .our-clients{
      .content{
        top: 597%;
      }
      h2{
        font-size: 14px;
        margin-right: 60px;
      }
      p{
        font-size: 10px;
        margin-right: 60px;
        margin-top: -30px;
      }
      .client-1{
        display: none;
      }
      .client-1-details{
        position: absolute;
        margin-top: 5%;
        left: 50%;
        img{
          width: 30px;
          height: 30px;
        }
        p{
          font-size: 8px;
        }
      }
      ////////////////////
      .client-2{
        display: none;
      }
      .client-2-details{
        position: absolute;
        margin-top: 5%;
        left: 10%;
        img{
          width: 30px;
          height: 30px;
        }
        p{
          font-size: 8px;
        }
      }
    }
    /////////////////////////////////////////
    footer{
      margin-top: 20px;
      .partner1{
        margin-left: 20px;
        img{
          width: 60px;
          height: 30px;
        }
      }
      .partner2{
        margin-left: 100px;
        margin-top: -30px;
        img{
          width: 60px;
          height: 30px;
        }
      }
      .partner3{
        margin-left: 180px;
        margin-top: -30px;
        img{
          width: 60px;
          height: 30px;
        }
      }
      .partner4{
        margin-left: 260px;
        margin-top: -30px;
        img{
          width: 60px;
          height: 30px;
        }
      }
      .partner5{
        margin-left: 70px;
        margin-top: 20px;
        img{
          width: 30px;
          height: 30px;
        }
      }
      .partner6{
        margin-left: 140px;
        margin-top: -30px;
        img{
          width: 60px;
          height: 30px;
        }
      }
      .partner7{
        margin-left: 220px;
        margin-top: -30px;
        img{
          width: 60px;
          height: 30px;
        }
      }
      ///////////////////////////
      .copy-right{
        hr{
          background-color: #ededed;
          margin-bottom: 20px;
        }
        p{
          color: #848484;
          font-size: 13px;
        }
      }
    }
  }
}
/////////////////////////////////////////////////////
@media (min-width: 401px) and (max-width: 420px) and (max-height: 740px){
  main {
    .slider {
      .carousel-inner {
        .carousel-item {
          .slider-content {
            position: absolute;
            width: 50%;
            left: 50%;
            top: 10%;
            z-index: 1;
            color: #ffffff;
            margin-left: -25%;
            text-align: center;
            font-size: 30px;
            h2 {
              font-size: 18px;
            }
            p {
              font-size: 15px;
            }
            .member-btn {
              width: 100px;
              height: 40px;
              font-size: 8px;
            }
          }
        }
      }
    }
    /////////////////////////////////////////
    .our-work {
      margin-bottom: 100px;
      img {
        width: 50px;
        height: 50px;
        margin-top: 80px;
        margin-bottom: 50px;
      }
      h3 {
        font-size: 20px;
        text-transform: uppercase;
        color: #515151;
      }
      p {
        font-size: 14px;
        color: #919191;
      }
    }
    /////////////////////////////////////////
    .tabs {
      .tab1 {
        padding-bottom: 20px;
        width: 31%;
        button {
          display: inline;
          width: 25px;
          height: 25px;
          margin-left: -10px;
          text-align: center;
          font-size: 8px;
        }
        span {
          font-size: 11px;
        }
      }
      .tab2 {
        padding-bottom: 20px;
        width: 35%;
        button {
          display: inline;
          width: 25px;
          height: 25px;
          margin-left: -10px;
          text-align: center;
          font-size: 8px;
        }
        span {
          font-size: 11px;
        }
      }
      .tab3 {
        padding-bottom: 20px;
        width: 34%;
        button {
          display: inline;
          width: 25px;
          height: 25px;
          margin-left: -10px;
          text-align: center;
          font-size: 8px;
        }
        span {
          font-size: 11px;
        }
      }
      ////////////////////////////
      .content {
        img {
          margin-left: 100px;
          margin-top: 20px;
        }
        h4 {
          margin: 30px 0 30px 10px;
        }
        p {
          font-size: 14px;
          margin: 0 0 100px 10px;
          color: #919191;
        }
      }
    }
    /////////////////////////////////////////
    .find {
      .Find-Properties {
        .img1 {
          margin: 20px 0 0 -10px;
        }
        h4 {
          margin-top: 18px;
          font-size: 20px;
        }
        p {
          font-size: 14px;
        }
        .btn4 {
          padding: 10px 15px 10px 15px;
          font-size: 13px;
        }
      }
      .Find-Buyers {
        .img2 {
          margin: 40px 0 0 -10px;
        }
        h4 {
          margin-top: 18px;
          font-size: 20px;
        }
        p {
          font-size: 14px;
        }
        .btn5 {
          padding: 10px 15px 10px 15px;
          font-size: 13px;
        }
      }
    }
    /////////////////////////////////////////
    .Feature {
      h2 {
        font-size: 23px;
      }
      p {
        font-size: 13px;
        margin-bottom: 40px;
      }
      .btn6 {
        padding: 10px 10px 10px 10px;
        font-size: 13px;
        margin-left: 20px;
        float: left;
      }
      ////////////////////////////
      .projects {
        margin-bottom: 0px;
        .project-1 {
          left: 10%;
          .box{
            height: 25%;
            width: 80%;
            button{
              width: 100px;
              font-size: 10px;
              top: 20%;
              left: 70%;
            }
          }
          .content {
            margin-top: -6px;
            width: 80%;
            h5{
              font-size: 14px;
            }
            p{
              font-size: 10px;
            }
            .progress{
              margin-top: -15px;
            }
            .p1, .p2{
              font-size: 10px;
            }
            a{
              .p3{
                font-size: 13px;
                margin-left: 100px;
              }
            }
          }
        }
        .project-2{
          left: 10%;
          margin-top: -120px;
          .box{
            height: 25%;
            width: 80%;
            button{
              width: 100px;
              font-size: 10px;
              top: 20%;
              left: 70%;
            }
          }
          .content {
            margin-top: -6px;
            width: 80%;
            h5{
              font-size: 14px;
            }
            p{
              font-size: 10px;
            }
            .progress{
              margin-top: -15px;
            }
            .p1, .p2{
              font-size: 10px;
            }
            a{
              .p3{
                font-size: 13px;
                margin-left: 100px;
              }
            }
          }
        }
        .project-3{
          left: 10%;
          margin-top: -120px;
          .box{
            height: 25%;
            width: 80%;
            button{
              width: 100px;
              font-size: 10px;
              top: 20%;
              left: 70%;
            }
          }
          .content {
            margin-top: -6px;
            width: 80%;
            h5{
              font-size: 14px;
            }
            p{
              font-size: 10px;
            }
            .progress{
              margin-top: -15px;
            }
            .p1, .p2{
              font-size: 10px;
            }
            a{
              .p3{
                font-size: 13px;
                margin-left: 100px;
              }
            }
          }
        }
      }
    }
    /////////////////////////////////////////
    .our-clients{
      .content{
        top: 547%;
      }
      h2{
        font-size: 14px;
        margin-right: 60px;
      }
      p{
        font-size: 10px;
        margin-right: 60px;
        margin-top: -30px;
      }
      .client-1{
        display: none;
      }
      .client-1-details{
        position: absolute;
        margin-top: 5%;
        left: 50%;
        img{
          width: 30px;
          height: 30px;
        }
        p{
          font-size: 8px;
        }
      }
      ////////////////////
      .client-2{
        display: none;
      }
      .client-2-details{
        position: absolute;
        margin-top: 5%;
        left: 10%;
        img{
          width: 30px;
          height: 30px;
        }
        p{
          font-size: 8px;
        }
      }
    }
    /////////////////////////////////////////
    footer{
      margin-top: 20px;
      .partner1{
        margin-left: 20px;
        img{
          width: 60px;
          height: 30px;
        }
      }
      .partner2{
        margin-left: 100px;
        margin-top: -30px;
        img{
          width: 60px;
          height: 30px;
        }
      }
      .partner3{
        margin-left: 180px;
        margin-top: -30px;
        img{
          width: 60px;
          height: 30px;
        }
      }
      .partner4{
        margin-left: 260px;
        margin-top: -30px;
        img{
          width: 60px;
          height: 30px;
        }
      }
      .partner5{
        margin-left: 70px;
        margin-top: 20px;
        img{
          width: 30px;
          height: 30px;
        }
      }
      .partner6{
        margin-left: 140px;
        margin-top: -30px;
        img{
          width: 60px;
          height: 30px;
        }
      }
      .partner7{
        margin-left: 220px;
        margin-top: -30px;
        img{
          width: 60px;
          height: 30px;
        }
      }
      ///////////////////////////
      .copy-right{
        hr{
          background-color: #ededed;
          margin-bottom: 20px;
        }
        p{
          color: #848484;
          font-size: 13px;
        }
      }
    }
  }
}
/////////////////////////////////////////////////////
@media (min-width: 421px) and (max-width: 770px) and (max-height: 1024px){
  main {
    .slider {
      .carousel-inner {
        .carousel-item {
          .slider-content {
            position: absolute;
            width: 60%;
            left: 50%;
            top: 20%;
            z-index: 1;
            color: #ffffff;
            margin-left: -28%;
            text-align: center;
            font-size: 30px;
            h2 {
              font-size: 30px;
            }
            p {
              font-size: 20px;
            }
            .member-btn {
              width: 150px;
              height: 60px;
              font-size: 14px;
            }
          }
        }
      }
    }
    /////////////////////////////////////////
    .our-work {
      margin-bottom: 100px;
      img {
        width: 50px;
        height: 50px;
        margin-top: 80px;
        margin-bottom: 50px;
      }
      h3 {
        font-size: 20px;
        text-transform: uppercase;
        color: #515151;
      }
      p {
        font-size: 14px;
        color: #919191;
      }
    }
    /////////////////////////////////////////
    .tabs {
      .tab1 {
        padding-bottom: 20px;
        width: 31%;
        button {
          display: inline;
          width: 40px;
          height: 40px;
          margin-left: -10px;
          text-align: center;
          font-size: 15px;
        }
        span {
          font-size: 20px;
        }
      }
      .tab2 {
        padding-bottom: 20px;
        width: 35%;
        button {
          display: inline;
          width: 40px;
          height: 40px;
          margin-left: -10px;
          text-align: center;
          font-size: 15px;
        }
        span {
          font-size: 20px;
        }
      }
      .tab3 {
        padding-bottom: 20px;
        width: 34%;
        button {
          display: inline;
          width: 40px;
          height: 40px;
          margin-left: -10px;
          text-align: center;
          font-size: 15px;
        }
        span {
          font-size: 20px;
        }
      }
      ////////////////////////////
      .content {
        img {
          margin-left: 100px;
          margin-top: 40px;
        }
        h4 {
          margin: 35px 0 30px 10px;
        }
        p {
          font-size: 14px;
          margin: 0 0 100px 10px;
          color: #919191;
        }
      }
    }
    /////////////////////////////////////////
    .find {
      .Find-Properties {
        .img1 {
          margin: 20px 0 0 -10px;
        }
        h4 {
          margin-top: 18px;
          font-size: 20px;
        }
        p {
          font-size: 14px;
        }
        .btn4 {
          padding: 10px 15px 10px 15px;
          font-size: 13px;
        }
      }
      .Find-Buyers {
        .img2 {
          margin: 40px 0 0 -10px;
        }
        h4 {
          margin-top: 18px;
          font-size: 20px;
        }
        p {
          font-size: 14px;
        }
        .btn5 {
          padding: 10px 15px 10px 15px;
          font-size: 13px;
        }
      }
    }
    /////////////////////////////////////////
    .Feature {
      h2 {
        font-size: 23px;
      }
      p {
        font-size: 13px;
        margin-bottom: 40px;
      }
      .btn6 {
        padding: 10px 10px 10px 10px;
        font-size: 13px;
        margin-left: 20px;
        float: right;
        margin-top: -10px;
      }
      ////////////////////////////
      .projects {
        .project-1 {
          left: 1%;
          .box{
            height: 25%;
            width: 100%;
            button{
              width: 100px;
              font-size: 10px;
              top: 20%;
              left: 70%;
            }
          }
          .content {
            margin-top: -6px;
            width: 100%;
            h5{
              font-size: 12px;
              margin-left: 25px;
            }
            p{
              font-size: 8px;
              margin-left: 25px;
            }
            .progress{
              margin-top: -15px;
              margin-left: 25px;
            }
            .p1, .p2{
              font-size: 8px;
            }
            a{
              .p3{
                font-size: 12px;
                margin-left: 50px;
              }
            }
          }
        }
        .project-2{
          left: 1%;
          .box{
            height: 25%;
            width: 100%;
            button{
              width: 100px;
              font-size: 10px;
              top: 20%;
              left: 70%;
            }
          }
          .content {
            margin-top: -6px;
            width: 100%;
            h5{
              font-size: 12px;
              margin-left: 25px;
            }
            p{
              font-size: 8px;
              margin-left: 25px;
            }
            .progress{
              margin-top: -15px;
              margin-left: 25px;
            }
            .p1, .p2{
              font-size: 8px;
            }
            a{
              .p3{
                font-size: 12px;
                margin-left: 50px;
              }
            }
          }
        }
        .project-3{
          left: 1%;
          .box{
            height: 25%;
            width: 100%;
            button{
              width: 100px;
              font-size: 10px;
              top: 20%;
              left: 70%;
            }
          }
          .content {
            margin-top: -6px;
            width: 100%;
            h5{
              font-size: 12px;
              margin-left: 25px;
            }
            p{
              font-size: 8px;
              margin-left: 25px;
            }
            .progress{
              margin-top: -15px;
              margin-left: 25px;
            }
            .p1, .p2{
              font-size: 8px;
            }
            a{
              .p3{
                font-size: 12px;
                margin-left: 50px;
              }
            }
          }
        }
      }
    }
    /////////////////////////////////////////
    .our-clients{
      .content{
        top: 265%;
      }
      h2{
        font-size: 25px;
        margin-right: 60px;
      }
      p{
        font-size: 14px;
        margin-right: 60px;
        margin-top: -30px;
        margin-bottom: 30px;
      }
      .client-1{
        margin-top: 0;
        width: 30%;
        padding: 10px;
        .client-1-content{
          h4{
            font-size: 15px;
          }
          p{
            font-size: 8px;
            text-align: center;
            margin-bottom: 2px;
            margin-right: 0;
            margin-top: 0;
          }
        }
      }
      .client-1-details{
        position: absolute;
        margin-top: 18%;
        left: 58%;
        img{
          width: 40px;
          height: 40px;
        }
        p{
          font-size: 10px;
        }
      }
      ////////////////////
      .client-2{
        margin-top: 0;
        width: 30%;
        padding: 10px;
        .client-2-content{
          h4{
            font-size: 15px;
          }
          p{
            font-size: 8px;
            text-align: center;
            margin-bottom: 2px;
            margin-right: 0;
            margin-top: 0;
          }
        }
        .arrow-down-2::after {
          left: 18%;
        }
      }
      .client-2-details{
        position: absolute;
        margin-top: 18%;
        left: 11%;
        img{
          width: 40px;
          height: 40px;
        }
        p{
          font-size: 10px;
        }
      }
    }
    /////////////////////////////////////////
    footer{
      margin-top: 30px;
      .partner1{
        margin-left: 70px;
        margin-bottom: 15px;
        img{
          width: 60px;
          height: 30px;
        }
      }
      .partner2{
        margin-left: -20px;
        img{
          width: 60px;
          height: 30px;
        }
      }
      .partner3{
        margin-left: -26px;
        img{
          width: 60px;
          height: 30px;
        }
      }
      .partner4{
        margin-left: -24px;
        img{
          width: 60px;
          height: 30px;
        }
      }
      .partner5{
        margin-left: 161px;
        img{
          width: 30px;
          height: 30px;
        }
      }
      .partner6{
        margin-left: -27px;
        img{
          width: 60px;
          height: 30px;
        }
      }
      .partner7{
        margin-left: -15px;
        img{
          width: 60px;
          height: 30px;
        }
      }
      ///////////////////////////
      .copy-right{
        hr{
          background-color: #ededed;
          margin-bottom: 20px;
        }
        p{
          color: #848484;
          font-size: 13px;
        }
      }
    }
  }
}
/////////////////////////////////////////////////////
@media (min-width: 771px) and (max-width: 800px) and (max-height: 1280px){
  main {
    .slider {
      .carousel-inner {
        .carousel-item {
          .slider-content {
            position: absolute;
            width: 60%;
            left: 50%;
            top: 20%;
            z-index: 1;
            color: #ffffff;
            margin-left: -28%;
            text-align: center;
            font-size: 30px;
            h2 {
              font-size: 30px;
            }
            p {
              font-size: 20px;
            }
            .member-btn {
              width: 150px;
              height: 60px;
              font-size: 14px;
            }
          }
        }
      }
    }
    /////////////////////////////////////////
    .our-work {
      margin-bottom: 100px;
      img {
        width: 50px;
        height: 50px;
        margin-top: 80px;
        margin-bottom: 50px;
      }
      h3 {
        font-size: 20px;
        text-transform: uppercase;
        color: #515151;
      }
      p {
        font-size: 14px;
        color: #919191;
      }
    }
    /////////////////////////////////////////
    .tabs {
      .tab1 {
        padding-bottom: 20px;
        width: 31%;
        button {
          display: inline;
          width: 40px;
          height: 40px;
          margin-left: -10px;
          text-align: center;
          font-size: 15px;
        }
        span {
          font-size: 20px;
        }
      }
      .tab2 {
        padding-bottom: 20px;
        width: 35%;
        button {
          display: inline;
          width: 40px;
          height: 40px;
          margin-left: -10px;
          text-align: center;
          font-size: 15px;
        }
        span {
          font-size: 20px;
        }
      }
      .tab3 {
        padding-bottom: 20px;
        width: 34%;
        button {
          display: inline;
          width: 40px;
          height: 40px;
          margin-left: -10px;
          text-align: center;
          font-size: 15px;
        }
        span {
          font-size: 20px;
        }
      }
      ////////////////////////////
      .content {
        img {
          margin-left: 100px;
          margin-top: 40px;
        }
        h4 {
          margin: 35px 0 30px 10px;
        }
        p {
          font-size: 14px;
          margin: 0 0 100px 10px;
          color: #919191;
        }
      }
    }
    /////////////////////////////////////////
    .find {
      .Find-Properties {
        .img1 {
          margin: 20px 0 0 -10px;
        }
        h4 {
          margin-top: 18px;
          font-size: 20px;
        }
        p {
          font-size: 14px;
        }
        .btn4 {
          padding: 10px 15px 10px 15px;
          font-size: 13px;
        }
      }
      .Find-Buyers {
        .img2 {
          margin: 40px 0 0 -10px;
        }
        h4 {
          margin-top: 18px;
          font-size: 20px;
        }
        p {
          font-size: 14px;
        }
        .btn5 {
          padding: 10px 15px 10px 15px;
          font-size: 13px;
        }
      }
    }
    /////////////////////////////////////////
    .Feature {
      h2 {
        font-size: 23px;
      }
      p {
        font-size: 13px;
        margin-bottom: 40px;
      }
      .btn6 {
        padding: 10px 10px 10px 10px;
        font-size: 13px;
        margin-left: 20px;
        float: right;
        margin-top: -10px;
      }
      ////////////////////////////
      .projects {
        .project-1 {
          left: 1%;
          .box{
            height: 25%;
            width: 100%;
            button{
              width: 100px;
              font-size: 10px;
              top: 20%;
              left: 70%;
            }
          }
          .content {
            margin-top: -6px;
            width: 100%;
            h5{
              font-size: 12px;
              margin-left: 25px;
            }
            p{
              font-size: 8px;
              margin-left: 25px;
            }
            .progress{
              margin-top: -15px;
              margin-left: 25px;
            }
            .p1, .p2{
              font-size: 8px;
            }
            a{
              .p3{
                font-size: 12px;
                margin-left: 50px;
              }
            }
          }
        }
        .project-2{
          left: 1%;
          .box{
            height: 25%;
            width: 100%;
            button{
              width: 100px;
              font-size: 10px;
              top: 20%;
              left: 70%;
            }
          }
          .content {
            margin-top: -6px;
            width: 100%;
            h5{
              font-size: 12px;
              margin-left: 25px;
            }
            p{
              font-size: 8px;
              margin-left: 25px;
            }
            .progress{
              margin-top: -15px;
              margin-left: 25px;
            }
            .p1, .p2{
              font-size: 8px;
            }
            a{
              .p3{
                font-size: 12px;
                margin-left: 50px;
              }
            }
          }
        }
        .project-3{
          left: 1%;
          .box{
            height: 25%;
            width: 100%;
            button{
              width: 100px;
              font-size: 10px;
              top: 20%;
              left: 70%;
            }
          }
          .content {
            margin-top: -6px;
            width: 100%;
            h5{
              font-size: 12px;
              margin-left: 25px;
            }
            p{
              font-size: 8px;
              margin-left: 25px;
            }
            .progress{
              margin-top: -15px;
              margin-left: 25px;
            }
            .p1, .p2{
              font-size: 8px;
            }
            a{
              .p3{
                font-size: 12px;
                margin-left: 50px;
              }
            }
          }
        }
      }
    }
    /////////////////////////////////////////
    .our-clients{
      .content{
        top: 216%;
      }
      h2{
        font-size: 25px;
        margin-right: 60px;
      }
      p{
        font-size: 14px;
        margin-right: 60px;
        margin-top: -30px;
        margin-bottom: 30px;
      }
      .client-1{
        margin-top: 0;
        width: 30%;
        padding: 10px;
        .client-1-content{
          h4{
            font-size: 15px;
          }
          p{
            font-size: 8px;
            text-align: center;
            margin-bottom: 2px;
            margin-right: 0;
            margin-top: 0;
          }
        }
      }
      .client-1-details{
        position: absolute;
        margin-top: 18%;
        left: 58%;
        img{
          width: 40px;
          height: 40px;
        }
        p{
          font-size: 10px;
        }
      }
      ////////////////////
      .client-2{
        margin-top: 0;
        width: 30%;
        padding: 10px;
        .client-2-content{
          h4{
            font-size: 15px;
          }
          p{
            font-size: 8px;
            text-align: center;
            margin-bottom: 2px;
            margin-right: 0;
            margin-top: 0;
          }
        }
        .arrow-down-2::after {
          left: 18%;
        }
      }
      .client-2-details{
        position: absolute;
        margin-top: 18%;
        left: 11%;
        img{
          width: 40px;
          height: 40px;
        }
        p{
          font-size: 10px;
        }
      }
    }
    /////////////////////////////////////////
    footer{
      margin-top: 30px;
      .partner1{
        margin-left: 70px;
        margin-bottom: 15px;
        img{
          width: 60px;
          height: 30px;
        }
      }
      .partner2{
        margin-left: -20px;
        img{
          width: 60px;
          height: 30px;
        }
      }
      .partner3{
        margin-left: -26px;
        img{
          width: 60px;
          height: 30px;
        }
      }
      .partner4{
        margin-left: -24px;
        img{
          width: 60px;
          height: 30px;
        }
      }
      .partner5{
        margin-left: 161px;
        img{
          width: 30px;
          height: 30px;
        }
      }
      .partner6{
        margin-left: -27px;
        img{
          width: 60px;
          height: 30px;
        }
      }
      .partner7{
        margin-left: -15px;
        img{
          width: 60px;
          height: 30px;
        }
      }
      ///////////////////////////
      .copy-right{
        hr{
          background-color: #ededed;
          margin-bottom: 20px;
        }
        p{
          color: #848484;
          font-size: 13px;
        }
      }
    }
  }
}
///////////////////////////////////////////////////////
//@media (min-width: 801px) and (max-width: 1440px) and (max-height: 900px){
//  main {
//    .slider {
//      .carousel-inner {
//        .carousel-item {
//          .slider-content {
//            position: absolute;
//            width: 60%;
//            left: 50%;
//            top: 35%;
//            z-index: 1;
//            color: #ffffff;
//            margin-left: -31%;
//            text-align: center;
//            font-size: 30px;
//            h2 {
//              font-size: 40px;
//            }
//            p {
//              font-size: 25px;
//            }
//            .member-btn {
//              width: 200px;
//              height: 80px;
//              font-size: 16px;
//            }
//          }
//        }
//      }
//      .carousel-control-next{
//        margin-right: 90px;
//      }
//      .carousel-control-prev{
//        margin-left: 1050px;
//      }
//    }
//    /////////////////////////////////////////
//    .our-work {
//      margin-bottom: 100px;
//      img {
//        width: 70px;
//        height: 70px;
//        margin-top: 80px;
//        margin-bottom: 50px;
//      }
//      h3 {
//        font-size: 30px;
//        text-transform: uppercase;
//        color: #515151;
//      }
//      p {
//        font-size: 16px;
//        color: #919191;
//      }
//    }
//    /////////////////////////////////////////
//    .tabs {
//      .tab1 {
//        padding-bottom: 20px;
//        width: 31%;
//        button {
//          display: inline;
//          width: 40px;
//          height: 40px;
//          margin-left: -10px;
//          text-align: center;
//          font-size: 15px;
//        }
//        span {
//          font-size: 20px;
//        }
//      }
//      .tab2 {
//        padding-bottom: 20px;
//        width: 35%;
//        button {
//          display: inline;
//          width: 40px;
//          height: 40px;
//          margin-left: -10px;
//          text-align: center;
//          font-size: 15px;
//        }
//        span {
//          font-size: 20px;
//        }
//      }
//      .tab3 {
//        padding-bottom: 20px;
//        width: 34%;
//        button {
//          display: inline;
//          width: 40px;
//          height: 40px;
//          margin-left: -10px;
//          text-align: center;
//          font-size: 15px;
//        }
//        span {
//          font-size: 20px;
//        }
//      }
//      ////////////////////////////
//      .content {
//        img {
//          margin-left: 100px;
//          margin-top: 40px;
//        }
//        h4 {
//          margin: 35px 0 30px 10px;
//        }
//        p {
//          font-size: 14px;
//          margin: 0 0 100px 10px;
//          color: #919191;
//        }
//      }
//    }
//    /////////////////////////////////////////
//    .find {
//      .Find-Properties {
//        .img1 {
//          margin: 20px 0 0 30px;
//        }
//        h4 {
//          margin-top: 18px;
//          font-size: 20px;
//        }
//        p {
//          font-size: 14px;
//        }
//        .btn4 {
//          padding: 10px 15px 10px 15px;
//          font-size: 13px;
//        }
//      }
//      .Find-Buyers {
//        .img2 {
//          margin: 40px 0 0 30px;
//        }
//        h4 {
//          margin-top: 18px;
//          font-size: 20px;
//        }
//        p {
//          font-size: 14px;
//        }
//        .btn5 {
//          padding: 10px 15px 10px 15px;
//          font-size: 13px;
//        }
//      }
//    }
//    /////////////////////////////////////////
//    .Feature {
//      h2 {
//        font-size: 25px;
//        margin-left: -30px;
//      }
//      p {
//        font-size: 14px;
//        margin-bottom: 40px;
//        margin-left: -30px;
//      }
//      .btn6 {
//        padding: 10px 10px 10px 10px;
//        font-size: 13px;
//        margin-right: 40px;
//        float: right;
//        margin-top: -10px;
//      }
//      ////////////////////////////
//      .projects {
//        .project-1 {
//          left: -3%;
//          .box{
//            height: 45%;
//            width: 100%;
//            button{
//              width: 120px;
//              font-size: 12px;
//              top: 37%;
//              left: 85%;
//            }
//          }
//          .content {
//            margin-top: -6px;
//            width: 100%;
//            h5{
//              font-size: 15px;
//            }
//            p{
//              font-size: 12px;
//            }
//            .progress{
//              margin-top: -15px;
//            }
//            .p1, .p2{
//              font-size: 11px;
//            }
//            a{
//              .p3{
//                font-size: 13px;
//                margin-left: 180px;
//              }
//            }
//          }
//        }
//        .project-2{
//          left: -3%;
//          .box{
//            height: 45%;
//            width: 100%;
//            button{
//              width: 120px;
//              font-size: 12px;
//              top: 37%;
//              left: 85%;
//            }
//          }
//          .content {
//            margin-top: -6px;
//            width: 100%;
//            h5{
//              font-size: 15px;
//            }
//            p{
//              font-size: 12px;
//            }
//            .progress{
//              margin-top: -15px;
//            }
//            .p1, .p2{
//              font-size: 11px;
//            }
//            a{
//              .p3{
//                font-size: 13px;
//                margin-left: 180px;
//              }
//            }
//          }
//        }
//        .project-3{
//          left: -3%;
//          .box{
//            height: 45%;
//            width: 100%;
//            button{
//              width: 120px;
//              font-size: 12px;
//              top: 37%;
//              left: 85%;
//            }
//          }
//          .content {
//            margin-top: -6px;
//            width: 100%;
//            h5{
//              font-size: 15px;
//            }
//            p{
//              font-size: 12px;
//            }
//            .progress{
//              margin-top: -15px;
//            }
//            .p1, .p2{
//              font-size: 11px;
//            }
//            a{
//              .p3{
//                font-size: 13px;
//                margin-left: 180px;
//              }
//            }
//          }
//        }
//      }
//    }
//    /////////////////////////////////////////
//    .our-clients{
//      .content{
//        top: 340%;
//      }
//      h2{
//        font-size: 35px;
//        margin-right: 60px;
//      }
//      p{
//        font-size: 16px;
//        margin-right: 60px;
//        margin-top: -30px;
//        margin-bottom: 120px;
//      }
//      .client-1{
//        margin-top: 0;
//        width: 30%;
//        padding: 10px;
//        .client-1-content{
//          h4{
//            font-size: 20px;
//          }
//          p{
//            font-size: 11px;
//            text-align: center;
//            margin-bottom: 2px;
//            margin-right: 0;
//            margin-top: 0;
//          }
//        }
//        .arrow-down-1::after {
//          left: 69%;
//        }
//      }
//      .client-1-details{
//        position: absolute;
//        margin-top: 12%;
//        left: 64%;
//        img{
//          width: 50px;
//          height: 50px;
//        }
//        p{
//          font-size: 12px;
//        }
//      }
//      ////////////////////
//      .client-2{
//        margin-top: 0;
//        width: 30%;
//        padding: 10px;
//        .client-2-content{
//          h4{
//            font-size: 20px;
//          }
//          p{
//            font-size: 11px;
//            text-align: center;
//            margin-bottom: 2px;
//            margin-right: 0;
//            margin-top: 0;
//          }
//        }
//        .arrow-down-2::after {
//          left: 14%;
//        }
//      }
//      .client-2-details{
//        position: absolute;
//        margin-top: 12%;
//        left: 9%;
//        img{
//          width: 50px;
//          height: 50px;
//        }
//        p{
//          font-size: 12px;
//        }
//      }
//    }
//    /////////////////////////////////////////
//    footer{
//      margin-top: 60px;
//      .partner1{
//        margin-left: -50px;
//      }
//      .partner2, .partner3{
//        margin-left: 80px;
//      }
//      .partner4{
//        margin-left: 100px;
//      }
//      .partner5{
//        margin-left: 30px;
//      }
//      .partner6{
//        margin-left: 10px;
//      }
//      .partner7{
//        margin-left: 120px;
//      }
//      ///////////////////////////
//      .copy-right{
//        hr{
//          background-color: #ededed;
//          margin-bottom: 20px;
//        }
//        p{
//          color: #848484;
//          font-size: 15px;
//        }
//      }
//    }
//  }
//}
/////////////////////////////////////////////////////
@media (min-width: 1441px) and (max-width: 1920px) and (max-height: 1080px){
  main {
    .slider {
      .carousel-inner {
        .carousel-item {
          .slider-content {
            position: absolute;
            width: 60%;
            left: 50%;
            top: 35%;
            z-index: 1;
            color: #ffffff;
            margin-left: -31%;
            text-align: center;
            font-size: 30px;
            h2 {
              font-size: 40px;
            }
            p {
              font-size: 25px;
            }
            .member-btn {
              width: 200px;
              height: 80px;
              font-size: 16px;
            }
          }
        }
      }
      .carousel-control-next{
        margin-right: 300px;
      }
      .carousel-control-prev{
        margin-left: 1250px;
      }
    }
    /////////////////////////////////////////
    .our-work {
      margin-bottom: 100px;
      img {
        width: 70px;
        height: 70px;
        margin-top: 80px;
        margin-bottom: 50px;
      }
      h3 {
        font-size: 30px;
        text-transform: uppercase;
        color: #515151;
      }
      p {
        font-size: 16px;
        color: #919191;
      }
    }
    /////////////////////////////////////////
    .tabs {
      .tab1 {
        padding-bottom: 20px;
        width: 31%;
        button {
          display: inline;
          width: 40px;
          height: 40px;
          margin-left: -10px;
          text-align: center;
          font-size: 15px;
        }
        span {
          font-size: 20px;
        }
      }
      .tab2 {
        padding-bottom: 20px;
        width: 35%;
        button {
          display: inline;
          width: 40px;
          height: 40px;
          margin-left: -10px;
          text-align: center;
          font-size: 15px;
        }
        span {
          font-size: 20px;
        }
      }
      .tab3 {
        padding-bottom: 20px;
        width: 34%;
        button {
          display: inline;
          width: 40px;
          height: 40px;
          margin-left: -10px;
          text-align: center;
          font-size: 15px;
        }
        span {
          font-size: 20px;
        }
      }
      ////////////////////////////
      .content {
        img {
          margin-left: 100px;
          margin-top: 40px;
        }
        h4 {
          margin: 35px 0 30px 10px;
        }
        p {
          font-size: 14px;
          margin: 0 0 100px 10px;
          color: #919191;
        }
      }
    }
    /////////////////////////////////////////
    .find {
      .Find-Properties {
        .img1 {
          margin: 20px 0 0 30px;
        }
        h4 {
          margin-top: 18px;
          font-size: 20px;
        }
        p {
          font-size: 14px;
        }
        .btn4 {
          padding: 10px 15px 10px 15px;
          font-size: 13px;
        }
      }
      .Find-Buyers {
        .img2 {
          margin: 40px 0 0 30px;
        }
        h4 {
          margin-top: 18px;
          font-size: 20px;
        }
        p {
          font-size: 14px;
        }
        .btn5 {
          padding: 10px 15px 10px 15px;
          font-size: 13px;
        }
      }
    }
    /////////////////////////////////////////
    .Feature {
      h2 {
        font-size: 25px;
        margin-left: -30px;
      }
      p {
        font-size: 14px;
        margin-bottom: 40px;
        margin-left: -30px;
      }
      .btn6 {
        padding: 10px 10px 10px 10px;
        font-size: 13px;
        margin-right: 40px;
        float: right;
        margin-top: -10px;
      }
      ////////////////////////////
      .projects {
        .project-1 {
          left: -3%;
          .box{
            height: 45%;
            width: 100%;
            button{
              width: 120px;
              font-size: 12px;
              top: 37%;
              left: 85%;
            }
          }
          .content {
            margin-top: -6px;
            width: 100%;
            h5{
              font-size: 15px;
            }
            p{
              font-size: 12px;
            }
            .progress{
              margin-top: -15px;
            }
            .p1, .p2{
              font-size: 11px;
            }
            a{
              .p3{
                font-size: 13px;
                margin-left: 180px;
              }
            }
          }
        }
        .project-2{
          left: -3%;
          .box{
            height: 45%;
            width: 100%;
            button{
              width: 120px;
              font-size: 12px;
              top: 37%;
              left: 85%;
            }
          }
          .content {
            margin-top: -6px;
            width: 100%;
            h5{
              font-size: 15px;
            }
            p{
              font-size: 12px;
            }
            .progress{
              margin-top: -15px;
            }
            .p1, .p2{
              font-size: 11px;
            }
            a{
              .p3{
                font-size: 13px;
                margin-left: 180px;
              }
            }
          }
        }
        .project-3{
          left: -3%;
          .box{
            height: 45%;
            width: 100%;
            button{
              width: 120px;
              font-size: 12px;
              top: 37%;
              left: 85%;
            }
          }
          .content {
            margin-top: -6px;
            width: 100%;
            h5{
              font-size: 15px;
            }
            p{
              font-size: 12px;
            }
            .progress{
              margin-top: -15px;
            }
            .p1, .p2{
              font-size: 11px;
            }
            a{
              .p3{
                font-size: 13px;
                margin-left: 180px;
              }
            }
          }
        }
      }
    }
    /////////////////////////////////////////
    .our-clients{
      .content{
        top: 320%;
        left: 45%;
      }
      h2{
        font-size: 35px;
        margin-right: 60px;
      }
      p{
        font-size: 16px;
        margin-right: 60px;
        margin-top: -30px;
        margin-bottom: 120px;
      }
      .client-1{
        margin-top: 0;
        width: 30%;
        padding: 10px;
        .client-1-content{
          h4{
            font-size: 20px;
          }
          p{
            font-size: 11px;
            text-align: center;
            margin-bottom: 2px;
            margin-right: 0;
            margin-top: 0;
          }
        }
        .arrow-down-1::after {
          left: 69%;
        }
      }
      .client-1-details{
        position: absolute;
        margin-top: 12%;
        left: 64%;
        img{
          width: 50px;
          height: 50px;
        }
        p{
          font-size: 12px;
        }
      }
      ////////////////////
      .client-2{
        margin-top: 0;
        width: 30%;
        padding: 10px;
        .client-2-content{
          h4{
            font-size: 20px;
          }
          p{
            font-size: 11px;
            text-align: center;
            margin-bottom: 2px;
            margin-right: 0;
            margin-top: 0;
          }
        }
        .arrow-down-2::after {
          left: 14%;
        }
      }
      .client-2-details{
        position: absolute;
        margin-top: 12%;
        left: 9%;
        img{
          width: 50px;
          height: 50px;
        }
        p{
          font-size: 12px;
        }
      }
    }
    /////////////////////////////////////////
    footer{
      margin-top: 60px;
      .partner1{
        margin-left: -50px;
      }
      .partner2, .partner3{
        margin-left: 80px;
      }
      .partner4{
        margin-left: 100px;
      }
      .partner5{
        margin-left: 30px;
      }
      .partner6{
        margin-left: 10px;
      }
      .partner7{
        margin-left: 120px;
      }
      ///////////////////////////
      .copy-right{
        hr{
          background-color: #ededed;
          margin-bottom: 20px;
        }
        p{
          color: #848484;
          font-size: 15px;
        }
      }
    }
  }
}











